/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*AQUI COMENÇA EL NOSTRE CODI*/


/*FONTS*/
@import url("https://www.donateblood.com.au/sites/all/themes/custom/arcbs/assets/webfonts/2D3451_0_0.woff2");
@import url("https://www.donateblood.com.au/sites/all/themes/custom/arcbs/assets/webfonts/2D3451_1_0.woff2");


html {
    overflow-y: hidden;
}

body {
    font-family: arial;
    background-image: url("images/background.jpg");
    background-size: cover;
}

header{
    display: relative;
	border-top: 4px solid #e42a20;
    width: 100%;
    height: 100px;
    background-color: white;
}

header img {
        margin-top:20px;
}

header nav {
    position: absolute;
    top:0;
    right:0;
    text-align: center;
    padding: 5px;
}

header nav i {
    font-size: 45px !important;
    color: #4D4D4F;
}

div.capa-fosca{
    position: relative;
    width: 100%;
    margin:0;
    background-color: black;
    opacity:.3;
    bottom:0;
}

article {
    height: 100vh;
}

section h2{
    text-align: center;
    padding-top: 3em;
}

div{
    display: inline-block;
    margin-bottom: 1.5em;
    margin:1em;
}

#requisitos{
  width: 7%;
}

#donar{
    width: 10%;
  }
