/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*AQUI COMENÇA EL NOSTRE CODI*/


/*FONTS*/
@import url("https://www.donateblood.com.au/sites/all/themes/custom/arcbs/assets/webfonts/2D3451_0_0.woff2");
@import url("https://www.donateblood.com.au/sites/all/themes/custom/arcbs/assets/webfonts/2D3451_1_0.woff2");
@font-face {
	font-family: "Trade Gothic";
	src: url("fonts/trade-gothic/Trade Gothic LT Bold.ttf");
}
@font-face {
	font-family: "Trade Gothic Light";
	src: url("fonts/trade-gothic/Trade Gothic LT Light.ttf");
}

/*Format pagina general*/
html {
  overflow-y: auto;
	min-width: 450px;
}

body {
	font-family: "Trade Gothic";
}

body.aprende p {
	font-family: "Trade Gothic Light";
}

body.inicio {
    background-image: url("images/background.jpg");
    background-size: cover;
}

body:not(.inicio) section article:first-child {
	background-image: url("images/background.jpg");
	background-size: cover;
}

.banner-donar{
	background-image: url("images/backgroundaprende1.jpg") !important;
	background-size: contain !important;
	background-repeat: repeat-x;

}
.banner-conocenos{
	background-image: url("images/conocenosbanner.jpg") !important;
	background-size: cover !important;
		background-repeat:no-repeat;
	height: 8em;


}

header{
  display: relative;
	border-top: 0.25em solid #e42a20;
  width: 100%;
  height: 100px;
  background-color: white;
}

header img {
	margin-top: -.5em;
	margin-left:0.2em;
	width: 8em;
}

header nav {
  position: absolute;
  top:.5em;
  right:0;
  text-align: center;
  padding: 0.3em;
	margin: 0.2em;
}

header nav i {
    font-size: 2.8em !important;
    color: #4D4D4F;
	transition: .15s color;
}

header nav i:hover {
	color: rgb(228, 42, 32);
}

header div{
    display: inline-block;
    margin-bottom: 1.5em;
    margin:1em;
}

.inicio article {
	text-align: center;
	color: white;
}

.inicio article a{
	color: white;
	text-decoration: none;
}

#APRENDE, #REQUISITOS, #DONAR {
	padding-top: 1em;
	width: 19em;
	text-transform: uppercase;
}

section {
	text-align: center;
}

section div {
	margin-top: 5em;
    text-align: center;
    display: inline-block;
	margin:2em;
	color:white;
	display:inline-table;
	height: auto;

}

body.inicio article h3 {
	font-size: 2em;
}

#titulo{
		color: white;
		text-align: center;
		font-size: 2em;
		text-transform: uppercase;
}

.imatges-inici {
	width: 6em;
	margin-bottom: 0.4em;
}

footer{
	position:fixed;
	bottom:0;
	border-top: 0.1em solid white;
	color: white;
	width: 95.5%;
	margin-left: 2em;
	margin-right: 2em;


}

body:not(.inicio) footer{
	border-top: 0.1em solid #4d4d4f;
	color:#4d4d4f;
}

footer div{
display: inline-block;
padding: 1em;

}
.contacto, .nosotros{
float: right;


}
footer a{
	text-decoration: none;
	color: white;

}

/*Menu overlay*/
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  margin:0;
  background-color: rgb(227,44,38);
  background-color: rgba(227,44,38,.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/*Pagina index*/
.icono {
	background-size: 100px 100px;
	background-color: #E32C26;
	background-position: center center;
	background-repeat: no-repeat;
	border: 2px solid #E32C26;
	border-radius: 75px;
	height: 100px;
	width: 100px;
	display: inline-block;
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
}

body:not(.inicio) .icono {
	width: 150px;
}

.divaprende h3 {
	font-size: 39px;
}

.icono h3 {
	margin-top: 120px;
	width: auto;
}

.icono.donar {
	background-image: url("images/icon-donate-01.svg");
}

.icono.requisitos {
	background-image: url("images/icon-eligibility-01.svg");
}

.icono.aprende {
	background-image: url("images/icon-learn-01.svg");
}

div p{
	padding-top: 1em;
}

/*Pagina aprende*/
.info{
	width: 15em;
	margin-bottom: 0.4em;
}

.divaprende {
    text-align: center;
    display: inline-block;
	color:white;
	font-weight: 800;
	display:inline-table;
}

.aprende article:nth-child(2) {
	padding-top: 50px;
}

.aprende article:last-child {
	margin-bottom: 100px;
}

body.aprende p{
	color: rgb(77, 77, 79);
}

.porcentaje-donar img{
	width: 70% ;
	min-width: 350px;
}

.aprende .contingut h3{
	font-size: 24px;
	color: rgb(77, 77, 79);
}

.aprende .contingut h2{
	font-size: 32px;
}

.aprende .contingut p {
	margin-top: 15px;
	margin-bottom: 35px;
}

.aprende .space-between {
	padding: 0 20%;
}

.aprende .contingut h3 {
	text-align: left;
}

/*Pagina Requisitos*/

section.requisitos {
	counter-reset: section;
}

section article:last-child {
	padding-bottom: 100px;
}

div.panel.panel-default {
	top: 50px;
	width:600px;
	height:120px;
	background-color: rgb(255, 255, 255);
	border-bottom-color: rgb(204, 204, 204);
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-image-outset: 0;
	border-image-repeat: stretch stretch;
	border-image-slice: 100%;
	border-image-source: none;
	border-image-width: 1;
	border-left-color: rgb(204, 204, 204);
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: rgb(204, 204, 204);
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: rgb(204, 204, 204);
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-style: solid;
	border-top-width: 1px;
	box-shadow: rgb(128, 128, 128) 1px 3px 23px -11px;
	box-sizing: border-box;
	color: rgb(74, 74, 74);
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
	line-height: 22.85px;
	margin-bottom: 30px;
	margin-top: 0px;
	min-height: 120px;
	padding-bottom: 12px;
	padding-left: 45px;
	padding-right: 0px;
	padding-top: 12px;
	position: relative;
	text-align: left;
}

div.panel.panel-default::before {
	background-color: rgb(213, 22, 41);
	border-bottom-left-radius: 49px;
	border-bottom-right-radius: 49px;
	border-top-left-radius: 49px;
	border-top-right-radius: 49px;
	box-sizing: border-box;
	color: rgb(255, 255, 255);
	content: counter(section) " ";
	counter-increment: section 1;
	display: table;
	font-family: "Open Sans", sans-serif;
	font-size: 34px;
	height: 70px;
	left: -38px;
	line-height: 68px;
	position: absolute;
	text-align: center;
	top: 22px;
	width: 70px;
}

body:not(.inicio) h2 {
	color: #e42a20;
	font-size: 24px;
	text-transform: uppercase;
}

body.requisitos h2:first-child {
	margin-top: 50px;
}

/*Donar*/
.titulo{
	color:#e42a20;
	margin-top: -1em;
	margin-bottom: -1em;
	font-size: 1.5em;
}
.titulo2{
	color:#e42a20;
	font-size: 1.5em;
	margin-top: 4em;
	margin-bottom: 0.1em;


}
.primeroEsquerra{
	color:black;
	float:left;
	border:0.050em;
	border-style: solid;
	border-radius: 0.5em;
	border-color: #e0e0e0;
	text-align: center;
	width: 16em;
	height: 9.5em;
	background-color: #f3f4f4;
	box-shadow:0px 0px 3px 1px #e8e9e9;
}
.primeroEsquerra h3{
	margin-top: 0.5em;

}
.primero{
	color:black;
	float:left;
	border:0.050em;
	border-style: solid;
	border-radius: 0.5em;
	border-color: #e0e0e0;
	text-align: center;
	width: 16em;
	height: 9.5em;
	background-color: #f3f4f4;
	box-shadow:0px 0px 3px 1px #e8e9e9;

}
.primero h3{
	margin-top: 0.5em;

}
.primero p{
	margin-top: 1em;
}
.leerMas{
	color:#e42a20;
}
.centros{
	margin-bottom: -0.2em;
}
.abajo{
	color:#e42a20;
	margin-top: -1em;
}
.flechas{
	margin-top: 0.3em;
	width: 1em;
}
.febrer{
margin-top: 3em;
font-size: 1.3em;
}
.febrer2{
margin-top: 0.5em;
margin-bottom: 0.5em;
font-size: 1.3em;
}
body.donar a{
	text-decoration:none;
}

/*sobrenosotros*/
.conocenos-imatge{
	margin-left: 10em;
	margin-right: 10em;
}
.sobrenosotros{
background-color: #A3222A;
width: 100%;

border-radius: 0.5em;
margin-bottom: 0.5em;
}

.sobrenosotros h3{
	width: 100%;
	display: flex;
	color: white !important;
	margin: 1em;
	text-align: center;
}

.imatge-bancsang{
	margin-top: 0.5em;

}
#banc-de-sang{
	width: 100%;
	border-radius: 0.5em;
}

.info{
	color:black;
	float:left;
	border:0.050em;
	border-style: solid;
	border-radius: 0.5em;
	border-color: #e0e0e0;
	text-align: center;
	width: 13em;
	height: 11em;
	background-color: #f3f4f4;
	box-shadow:0px 0px 3px 1px #e8e9e9;
}
.info h3{
	color:#A3222A;
	margin: 1em;
	margin-bottom: 0em;
	margin-top:0.3em;
	font-size: 20px;
	text-align: left;
}

.conocenos-imatge div p{
	margin: 1em;
	margin-top:0em;
	color: #333333;
	text-align: left;

}
